/*
Author: Chris Payne
Date: Jan, 19th 2019
*/

body {
  background-image:url(torontoBackground.jpg);
  background-position:0% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
  min-width: 800px;
}

.header {
  padding:10px;
  text-align: center;
  background:linear-gradient(rgb(0,128,0,0.2), rgb(0,128,0,0.1)), url(headerBackgroundPattern.jpg);
  min-width: 482px;
  /*background: #B0B6C0;*/
  color: #2A2B25;
  font-size: 30px;
  position: fixed; 
  top: 0;
  left:20%;
  width: 60%;
  border-color: grey;
  border-width: 1px;
  border-radius: 15px;
  z-index:9999 !important;
}

.content {
  width: 98%;
  max-width: 1400px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.search-container {
  padding: 30px;
  width: 70%;
  height: calc(100vh - 150px); 
  background-color: rgb(255,255,255,0.9);
  border-radius: 15px;
  display:inline-block;
  vertical-align: top;
  overflow: auto;
}

.favourite-container {
  padding: 30px;
  width: 29%;
  height: calc(100vh - 150px); 
  background-color: rgb(255,255,255,0.9);
  border-radius: 15px;
  display:inline-block;
  vertical-align: top;
  overflow: auto;
}

.favourite-result {

}

.favourite-icon {
  width: 32px;
  height: 32px;
  display:inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.search-result {

}

.title{
  display:inline-block;
  width:75%;
  vertical-align: middle;
}

.left-column {
  width: 50%;
  display: inline-block;
}

.right-column {
  width: 50%;
  display: inline-block;
}

.row-item {
  width: 100%;
  margin:auto;
}

.row-space{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid grey; 
}